<h1>create new event with this form and check the notifications</h1>

<form [formGroup]="eventCreateForm" novalidate (ngSubmit)="onCreate()">
  <div class="form-group">
    <label>Source</label>
    <input id="source" type="text" formControlName="source" class="form-control" required />
  </div>

  <div class="form-group">
    <label>Target</label>
    <input type="text" formControlName="target" class="form-control" required />
  </div>

  <div class="form-group">
    <label>Notification Types</label>
    <select class="form-control" formControlName="notification_type" required>
      <option value="">Select an option</option>
      <option
        *ngFor="let notification of notificationTypes | keyvalue"
        [value]="notification.value"
      >
        {{ notification.value }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <button
      type="submit"
      [disabled]="!eventCreateForm.valid"
      class="btn btn-primary btn-block submit-btn"
    >
      Submit
    </button>
  </div>
</form>
